<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Guestbook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/Nazario_Jordan.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <style>
            body {
                padding-top: 70px;
                padding-bottom: 20px;
            }
        </style>
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body class="conatainer">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">Home</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
                <h1 id="pageheader">Jordan Nazario</h1>
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/salary">Salary Calculator</a>
                <a class="navbar-brand" href="/contact">Contact</a>
                <a class="navbar-brand" href="/guestbook">Guest Book</a>

                <div id="navbar" class="navbar-collapse collapse">

                </div>
                <!--/.navbar-collapse -->
            </div>
    </nav>
    <div style="margin-top: 75px;">
<h1 class="mainheader">
    Express Guestbook
    <a href="/new-entry" class="btn btn-primary pull-right">
        Write in the guestbook
    </a>
</h1>